.shopWrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.categories {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
 
.radioButtons div {
    margin-bottom: 0.5rem;
}
.radio label {
    display: inline-flex;
    cursor: pointer;
    align-items: center
}
.radioButton {
    display: none;
}

.radioButtonDisplayed {   
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #7a7a7a;
    border-bottom: 50%;
    margin-right: 0.5rem;
    box-sizing: border-box;
    padding: 2px;
    
    
}
.radioButtonDisplayed::after {
    content: '';
    width:100%;
    height: 100%;
    display: block;
    background-color: #009879;
    transform: scale(0);
    transition: 0.2s ease;
}
.radioButton:hover + .radioButtonDisplayed::after {
    transform: scale(0.6)
}
.radioButton:checked + .radioButtonDisplayed:after {
    transform: scale(1)
}
 
.shopContent {
    margin: 2rem 0 4rem 0;
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr;
    gap:2rem;
    justify-items: center;
}
.productWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    width:20rem;
    min-height: 24rem;
    border:2px solid #e6e6e6;
}

.productWrapper a {
    text-decoration: none;
 }
.productImageWrapper {
    height: 18rem;
    width: 18rem;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 2px solid #e6e6e6;
    box-sizing: border-box;
    cursor: pointer;
 }
.productImageWrapper img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease-out;
}
.productImageWrapper img:hover {
    transform: scale(1.05); 
 
}
.productInfo {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 0.5rem;
    padding: 0 1rem;
    color: #313131
    
}
.productInfo h3:nth-child(1) {
    font-size: 1.1em;
    font-weight: 400;
   
}
.productInfo h3:nth-child(2) {
    align-self:center;
    font-size: 1.2em;
    font-weight: 400;
    color: #009879
 }
 .productButtons {
    align-self: flex-end;
    display: flex;
    bottom:0
    
 }
 .productButtons div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    box-sizing: border-box;
    color: #a5a5a5;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
  }
 .productButtons div:hover {
    background-color: #f0f0f0;
    color: #009879
 }
 .productButtons div:active {
    color: #a5a5a5;
    background-color: #5a5a5a;
 }

@media  (max-width: 575px) {
    .categories {
        margin: 0.5rem 0 -1rem -2rem;
  
        transform: scale(0.8);
    }
    .radioButtons {
        display: flex;
    }
    .radioButtons .radio {
        margin-right: 3vw;
    }
    .shopWrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        gap:0
    }
    .shopContent {
        grid-template-columns: 1fr;
        
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .categories {
        margin-left: 2rem
    }
    .radioButtons {
     }
    .radioButtons .radio {
        margin-right: 3rem;
    }
    .shopWrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    .shopContent {
        grid-template-columns: 1fr;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .categories {
        margin-left: 2rem
    }
    .radioButtons {
        display: flex;
    }
    .radioButtons .radio {
        margin-right: 5rem;
    }
    .shopWrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }
}

 