 .cartWrapper {
   min-height: calc(100vh - 5rem - 2px); /*5rem for the navbar height,2px for its border*/
   padding-top: 2rem;
   display: grid;
   gap: 1rem;
   grid-template-columns: 4fr 1fr;
 }

 .cartItem {
   display: grid;
   grid-template-columns: 1fr 4fr 2fr 1fr 1fr;
   align-items: center;
   background-color: white;
   border: 2px solid #9e8c8c;
   
   margin: 0 0 1rem 0;
     
 }
 .cartItem a {
  text-decoration: none;
  color: #313131
 }
 .itemsTotal {
   display: flex;
   justify-content: space-between;
    
 }
 .itemsTotal h2 {
   margin: 1rem;
   text-align: right;
 }
 .itemsTotal .discountPercent {
   font-size: 0.8em;
   color: #009879;
   user-select: none;
 }
 .cartItem a img {
   height: 4rem;
   width: 4rem
 }
 .productQuantity {
   align-self: right;
   margin-left:1rem
 }
 .productRemove {
   
   display: flex;
   justify-content: center;
 }
 .productQuantity {
    display: flex;
    align-items: center;
   
 }
 .productQuantity h3 {
    border: 3px solid #313131;
    padding: 0.2rem 0.5em 0.2em 0.2em;
    margin: 0.5rem;
    width: 1rem;
    text-align: center
 }
 .productQuantity h2 {
    cursor: pointer;
    font-size: 2.5em;
    user-select: none;
    transition: 0.2s ease;
    

 }
 .productQuantity h2:hover {
   transform: scale(1.1);
   color: #009879;
 }
 .productQuantity h2:active {
   transform: scale(1.3);
 }
 .productRemove svg {
   text-align: center;
   transform: scale(1.4);

   color: #313131;
   transition: 0.2s ease;
   cursor: pointer;
 }
 .productRemove svg:hover {
   transform: scale(1.4);
   color: crimson

 }

.promoCodeWrapper {
   background-color: #e2e2e2;
   height: 12rem;
   width:15rem;
   display: flex;
   flex-direction: column;
   color:#313131
}
.promoCodeWrapper h3 {
  margin: 1rem 1rem 0.5rem 1rem;
   
}
.promoCodeWrapper .promoCodeHint {
  color: #8d8d8d;
  margin: 0 1rem 0.5rem;
  opacity: 0.8;
}
.promoCodeWrapper .promoCodeHint span {
  color: #009879;
  font-weight: bold;
}
.promoCodeWrapper input {
   font-size: 1.5em;
   height: 2.5rem;
   margin: 0 1rem;
   font-weight: bold;
   border:none;
   color:#313131;
   padding: 0.5rem
   
}
.submitPromoCode {
   font-size: 1.3em;
   font-weight: bold;
   text-align: center;
   background-color: #cccccc;
   border: 2px solid #aaaaaa;
   padding: 0.5rem;
   vertical-align: middle;
   margin: 0 1rem;
   margin-top: 1rem;
   cursor: pointer;
   transition: 0.3s;
}
.submitPromoCode:hover {
   background-color: #aaaaaa;
 }
.promoCodeWrapper input:focus {
   outline: none ;
}
.validPromoCode, .invalidPromoCode {
   display: absolute;
   text-align: right;
   font-size: 1.5em;
   transition: 0.2s ease;
   transform: scale(0)
}
.validPromoCode {
   margin-top: 3rem;
   color: #009879;
   transform: scale(0);
}
.invalidPromoCode {
   margin-top: -1.5rem;
   color: crimson;
   transform: scale(0);
}

@media  (max-width: 575px) {
  .cartItems {
    margin-right: 1rem;
    font-size: 0.9em;
  }
  .cartWrapper {
    min-height: 0;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  .promoCodeWrapper {
    width: calc(100% - 1rem)
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .cartItems {
    margin-right: 1rem;
  }
  .cartWrapper {
    min-height: 0;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;

  }

  .promoCodeWrapper {

    width: calc(100% - 1rem)
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .promoCodeWrapper {
    width: 12rem;
    margin-right: 1rem;
  }
}


