.videoWrapper {
    display: block;
    position: relative;
    width:100%;
    height: calc(100vh - 5rem - 2px); /*5rem for the navbar height,2px for its border*/
    overflow: hidden;
}
video {
    position: absolute; 
    left: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    background-size: cover;
    overflow: hidden important;
 
}
.videoWrapper h1 {
    z-index: 20;
}
.homepageCtaText {
   display:hidden;
   background-color: #313131;
   margin: 15rem 0 0 0;
   color:White;
   display: block;
   width: 10rem;
   height:8rem;
   padding:2rem;
   transition: 0.3s ease;
   z-index: 3;
   position: relative;
   font-size: 0.9em;
}
.homepageCTA {   
   position: relative;
   background-color: white;
   color: #313131;
   display: block;
   width: 10rem;
   height: 8rem;
   padding:2rem;
   transition: 0.3s ease;
   z-index: -1rem;
   font-size: 0.9em;
   transform: translate(0, -12rem) 
}
.homepageCTA h3 {
    color: #313131;
    margin-top: 0.5rem;
    font-size: 0.9em;
}
.homepageCTA h3 span {
    color: #009879
}
.homepageCtaText:hover  + a .homepageCTA  {
    transform: translate(14rem, -12rem)
}
.homepageCTA:hover {
    transform: translate(14rem, -12rem)

}

@media  (max-width: 575px) {
    .homepageCtaText:hover  + a .homepageCTA  {
        transform: translate(0rem, 0rem)
    }
    .homepageCTA:hover {
        transform: translate(0rem, 0rem)
    }
}
