.navbar {
    /* background-color: #f3f3f3; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 1  ;

}
.navbar a, .navbar a:visited {
    color: #313131;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.homepageContent a, .homepageContent a {
    text-decoration: none;
    color: #313131
}
.navbar a:after {
    /*from https://www.30secondsofcode.org/css/s/hover-underline-animation*/
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #313131;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.logoWrapper {
    font-family: 'Source Serif Pro', serif;

}
.logo {
    font-size: 1.5em;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px; 
}
/* .logo:hover {
    letter-spacing: 3px;
    transform: translateX(-6px);
} */
.navbarLinks {
    display: flex;
    gap: 5rem
   
}
.navbarLinks a {
    transition: 0.3s ease-in-out;
    
    position: relative;
}

@media  (max-width: 575px) {
    .navbarLinks {
        gap: 1rem;
    }
}
  
   