* {
  margin: 0;
  padding: 0;
 
}
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f5f5f5;

}
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

.gridContainer {
  display: grid;
  grid-template-columns: 12rem 1fr 12rem;
}
.gridItem {
  grid-column: 2/ 3;
  
}
.navbarGrid {
  background-color: #f3f3f3;
  border-bottom: 2px solid #e4e4e4;
 
 }

 @media  (max-width: 575px) {
  .gridContainer {
    grid-template-columns: 1rem 1fr 1em;
  }
  .gridItem {
   }
  .navbarLinks {
    margin-right: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .gridContainer {
    grid-template-columns: 1rem 1fr 1rem;
  }
  .gridItem {
   }
  .navbarLinks {
    margin-right: 2rem;
  }
  .itemGridItem {
    width: default
}
}

@media (min-width: 768px) and (max-width: 991px){
  .gridContainer {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
  }
  .navbarLinks {
    margin-right: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: 6rem 1fr 6rem;
  }
  .gridItem {
    width: (100vw - 6rem)
  }  
}